/* .card-icons-container {
  justify-content: center;
}
.card-icons-container :hover {
  background-color: #366bce;
}

.card-icons {
  color: black;
  background-color: white;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: 500ms;
} */
